@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Demystifying OAuth 2.0 and OpenId Connect</h1>
    <h3 class="display-6 mt-1">Codeference 2023 Workshop</h3>
</div>